@font-face {
    font-family: 'ptsansregular';
    src: url('../fonts/ptsansregular/ptsansregular.woff2') format('woff2'),
         url('../fonts/ptsansregular/ptsansregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ptsansbold';
    src: url('../fonts/ptsansbold/ptsansbold.woff2') format('woff2'),
         url('../fonts/ptsansbold/ptsansbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helioslight';
    src: url('../fonts/helioslight/helioslight.woff2') format('woff2'),
         url('../fonts/helioslight/helioslight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heliosthin';
    src: url('../fonts/heliosthin/heliosthin.woff2') format('woff2'),
         url('../fonts/heliosthin/heliosthin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
