.header__top {
  background-color: #eeeeee;
  padding: 10px 0;
  font-family: "ptsansbold", sans-serif;
  font-size: em(12);
}

.col__left {
  float: left;
  width: 50%;
}

.col__right {
  float: right;
  width: 50%;
  text-align: right;
}

.login__list {
  display: inline-block;
}

.nav__item {
  display: inline-block;
  margin-right: 25px;
}

.nav__link,
.login__link {
  color: #0c4da2;

  &:hover {
    text-decoration: underline;
  }
}

.login__item {
  display: inline-block;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.login__img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.header__bottom {
  position: relative;
}

.logo {
  float: left;
  width: 32%;
  padding-top: 5px;
}

.logo__pic {
  margin-left: -18px;
}

.tabs__wrapper {
  float: left;
  width: 42%;
  text-align: center;
  padding-top: 20px;
  @extend %clearfix;
}

.tab {
  float: left;
  width: 30%;
  padding: 10px 0 26px;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 2px solid transparent;
  cursor: pointer;
  position: relative;
  z-index: 5;
  margin-bottom: -1px;
  @include trs(0.3s);
}

.tab.active {
  border-right: 1px solid #C8C8C8;
  border-left: 1px solid #C8C8C8;
  border-top: 2px solid #E7435D;
  background-color: #fff;
}

.search {
  float: right;
  width: 26%;
  margin-top: 25px;
  position: relative;
}

.input__search {
  height: 32px;
  width: 100%;
  font-size: em(14);
  text-indent: 10px;
  border: 1px solid #C8C8C8;
}

.search__btn {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  border: none;
  outline: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url("../img/icons/2.svg") no-repeat;
}

.tab__content {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 20px;
  border-top: 1px solid #C8C8C8;
}

.slide {
  max-width: 1100px;
	margin: 0 auto;
  position: relative;
}

.owl-nav {
  position: absolute;
  width: 960px;
  margin: auto;
  display: inline-block;
  top: 50%;
  margin-top: -30px;
  right: 0;
  left: 0;
}

.owl-prev,
.owl-next {
  width: 31px;
  position: absolute;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.slide__text-wrap {
  text-align: left;
  font-family: "helioslight", sans-serif;
  position: absolute;
  padding-left: 8%;
  bottom: 16%;
  color: #fff;
}

.slide__title {
  font-size: em(48);
  line-height: 1.1;
  letter-spacing: 2px;

  span {
    display: block;
    font-size: rem(76);
    font-family: "heliosthin", sans-serif;
    position: relative;

    .title__img {
      position: absolute;
      width: 28px;
      left: 101%;
      top: 0;
    }
  }
}

.slide__subtitle {
  font-size: em(14);
  padding-left: 4px;
}

.popup {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  display: none;
  position: relative;
}

.popup__label {
  display: block;
  margin-bottom: 3px;
}

.popup__input {
  display: block;
  height: 35px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-indent: 5px;
}

.popup__btn {
  background-color: #0E52A3;
  border: none;
  color: #fff;
  padding: 5px 15px;
}

.popup__btn-close {
  width: 15px;
  height: 15px;
  border: none;
  outline: none;
  background: url("../img/icons/cancel.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.8;
  @include trs();

  &:hover {
    transform: rotate(90deg);
    opacity: 1;
  }
}
